@import 'abstracts/variables',
        'abstracts/mixins',
        'abstracts/utilities',
        'abstracts/config';
@import 'base/reset',
        'base/typography';
@import 'components/button',
        'components/slider',
        'components/newsletter',
        'components/form',
        'components/breadcrumb',
        'components/filters',
        'components/filter_tags',
        'components/pagination',
        'components/rating',
        'components/tabs',
        'components/product_item',
        'components/sidebar';
@import 'layout/header',
        'layout/navbar',
        'layout/footer';
@import "pages/index", 
        "pages/details",
        "pages/products",
        "pages/cart";